<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html">
    <title>Katy Perry Unofficial Store</title>
    <base href = "/" />
    <link type="text/css" href="/src/public/styles/style.css"/>

</head>
<body>
    {{navbar}}
    {{{body}}}


    
</body>
</html> 
